<!-- That perfect HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tchurras</title>
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
  {{> body}}
  <footer class="text-center">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus modi blanditiis asperiores sapiente. Eos voluptate nihil alias laborum ratione quos porro eligendi fuga aperiam rem, doloribus velit, cupiditate temporibus voluptatum.</p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>