<!-- That perfect HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tchurras</title>
  <link rel="stylesheet" href="/assets/css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{> body}}
  <footer class="text-center">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">
        <p>O cálculo do churrasco tem um pouco de <em>feeling</em>, churrascos recorrentes, asco à desperdício de comida e satisfação dos amigos. Por esse motivo, volta e meia a calculadora é recalibrada em busca da exatidão gastronômica.</p>
        <p class="author">Desenvolvido por <a href="http://nagueva.com/">Guilherme Nagüeva</a></p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>