<!-- That perfect HTML -->
<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <title>Tchurras - Calculadora de churrasco online</title>
  <link rel="stylesheet" href="/assets/css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:locale" content="pt_BR">
  <meta property="og:url" content="http://tchurras.com">
  <meta property="og:title" content="Calculadora de churrasco online">
  <meta property="og:site_name" content="Tchurras.com">
  <meta property="og:description" content="Uma calculadora direto ao ponto para ajudar na hora de fazer o churrasco.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/img/tchurras-ogimage.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

</head>
<body>
  {{> body}}
  <footer class="text-center">
    <div class="row">
      <div class="column small-12 medium-6 medium-offset-3">
        <p>O cálculo do churrasco tem um pouco de <em>feeling</em>, churrascos recorrentes, asco à desperdício de comida e satisfação dos amigos. Por esse motivo, volta e meia a calculadora é recalibrada em busca da exatidão gastronômica.</p>
        <p class="author">Desenvolvido por <a href="http://nagueva.com/">Guilherme Nagüeva</a></p>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <img src="/assets/img/avatar-man-1.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-2.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-3.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-4.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-5.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-6.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-7.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-8.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-9.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-10.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-11.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-12.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-13.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-14.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-15.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-16.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-17.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-man-18.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-1.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-2.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-3.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-4.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-5.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-6.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-7.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-8.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-9.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-10.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-11.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-12.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-13.svg" alt="Calculadora de churrasco" class="hide">
  <img src="/assets/img/avatar-woman-14.svg" alt="Calculadora de churrasco" class="hide">
</body>
</html>